{% extends 'master' %}

{% block content %}
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to the website
      </h1>
      <h2 class="subtitle">
        A solution for creating tasks, built with Adonis.js
      </h2>
    </div>
  </div>
</section>
{% endblock %}
