{% extends 'master' %}

{% block content %}
  <div class="content">
    <h1>{{ task.title }}</h1>

    <p> {{ task.description }} </p>

    <p>task created by: <b>{{ owner.username }}</b></p>
  </div>
{% endblock %}